@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-white font-sans leading-normal tracking-normal;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  padding: 0;
}